<mat-card>
  <mat-card-header layout="row" layout-align="center center">
    <mat-card-title>
      <span class="mat-headline">Welcome to Maze Mania.</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="msg">
        <p>~We are about to bring you on the daring quest to aid the old wise wizard back to
          his study. He is lost and someone has used a confusion spell on him. It is your mission
          to navigate through the winding trails of Hallows Forest to get him back to safety before
          something dreadful happens to the wise old wizard.~</p>
    </div>
     <div class="container">
        <div style="text-align: center;">
          <div class="maze-form">
<!--            <label for="nRow"># Rows</label>-->
<!--            <input id="nRow" type="number" [(ngModel)]="row" min="1" max="500" />-->
<!--            <label for="nCol"># Columns</label>-->
<!--            <input id="nCol" type="number" [(ngModel)]="col" min="1" max="500" />-->
            <button type="button" (click)="drawMaze()" [disabled]="busy">
              New Maze
            </button>
            <button type="button" (click)="drawSolution()">Solution</button>
<!--            <button-->
<!--              type="button"-->
<!--              (click)="test()"-->
<!--              *ngIf="showTestButton"-->
<!--              [disabled]="busy"-->
<!--            >-->
<!--              Test-->
<!--            </button>-->
          </div>
          <section>
            <canvas id="maze"></canvas>
          </section>
          <section>
            <div class="arrows">
              <div><span (click)="move('Up')" title="move up">⬆️</span></div>
              <div>
                <span (click)="move('Left')" title="move left">⬅️</span>
                <span (click)="undo()" title="undo 5 steps">⏪</span>
                <span (click)="move('Right')" title="move right">➡️</span>
              </div>
              <div><span (click)="move('Down')" title="move down">⬇️</span></div>
            </div>
          </section>
        </div>
     </div>

  </mat-card-content>
  <mat-card-footer align="end" class="text-sm">
    <span style="padding-right: 2vw;">&copy;Maze Mania - 2020</span>
  </mat-card-footer>
</mat-card>
