<mat-card>
  <mat-card-header layout="row" layout-align="center center">
    <mat-card-title>
      <span class="mat-headline">Welcome to Maze Mania.</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="msg">
        <p>~We are about to bring you on the daring quest to aid the old wise wizard back to
          his study. He is lost and someone has used a confusion spell on him. It is your mission
          to navigate through the winding trails of Hallows Forest to get him back to safety before
          something dreadful happens to the wise old wizard.~</p>
    </div>
     <div class="container">

     </div>
  </mat-card-content>
  <mat-card-footer align="end" class="text-sm">
    <span style="padding-right: 2vw;">&copy;Maze Mania - 2020</span>
  </mat-card-footer>
</mat-card>
