<mat-card>
  <mat-card-header layout="row" layout-align="center center">
    <mat-card-title>
      <span class="mat-headline">{{ title }} App!</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-title">
      <p>Welcome to Maze Mania. We are about to bring you on the daring quest to aid the old wise wizard back to
        his study. He is lost and someone has used a confusion spell on him. It is your mission
        to navigate through the winding trails of Hallows Forest to get him back to safety before
        something dreadful happens to the wise old wizard.</p>
      <button mat-raised-button color="primary">LogIN</button>
      <button mat-raised-button color="accent" (click)="router.navigate(['/game']);">Play</button>
      <button mat-raised-button color="warn">Continue</button>
    </div>
  </mat-card-content>
  <mat-card-footer align="end" class="text-sm">
    <span style="padding-right: 2vw;">&copy;Maze Mania - 2020</span>
  </mat-card-footer>
</mat-card>
